{% extends "base.html" %}
{% block content %}
<h3>Contact Information</h3>

<div class="contact-box">
  <h4>Raihan Rahman Samin</h4>
  <p>Email: <a href="mailto:rrsamin1.0@gmail.com">rrsamin1.0@gmail.com</a></p>
  <p>Phone: +880 1632-367525</p>
  <p>Facebook: <a href="https://www.facebook.com/ShowOff67">ShowOff67</a></p>
</div>

<div class="contact-box">
  <h4>Md Nafiul Alam Kibriya</h4>
  <p>Email: <a href="mailto:kibriya@gmail.com">kibriya@gmail.com</a></p>
  <p>Phone: +880 1567-935688</p>
  <p>Facebook: <a href="https://www.facebook.com/md.nafiul.alam.152406">Kibriya</a></p>
</div>
{% endblock %}
